
.container {
  position: relative;
  font-family: Arial;
}
.text-block{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(232, 7, 7, 0.2);
}
#rocketContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#rocket {
  position: absolute;
  top: 50%;
  left: -100px;
  transition: all 2s ease-in-out;
}

#inputContainer {
  margin-top: 20px;
}
